@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

.heading-text {
  font-family: "Lobster", cursive;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.all-book {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #171618;
  overflow: hidden;
}

.all-book span {
  width: 19vmin;
  height: 19vmin;
  border-radius: 19vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 43;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.all-book span:nth-child(0) {
  color: #504b49;
  top: 64%;
  left: 34%;
  animation-duration: 19s;
  animation-delay: -26s;
  transform-origin: 23vw -6vh;
  box-shadow: -38vmin 0 5.543809489407861vmin currentColor;
}
.all-book span:nth-child(1) {
  color: #504b49;
  top: 89%;
  left: 46%;
  animation-duration: 24s;
  animation-delay: -4s;
  transform-origin: -7vw -13vh;
  box-shadow: -38vmin 0 5.602386127699154vmin currentColor;
}
.all-book span:nth-child(2) {
  color: #34303b;
  top: 68%;
  left: 92%;
  animation-duration: 70s;
  animation-delay: -37s;
  transform-origin: -11vw 21vh;
  box-shadow: 38vmin 0 5.259891422185537vmin currentColor;
}
.all-book span:nth-child(3) {
  color: #504b49;
  top: 54%;
  left: 64%;
  animation-duration: 71s;
  animation-delay: -56s;
  transform-origin: 22vw -7vh;
  box-shadow: -38vmin 0 5.38186993544277vmin currentColor;
}
.all-book span:nth-child(4) {
  color: #504b49;
  top: 6%;
  left: 16%;
  animation-duration: 12s;
  animation-delay: -48s;
  transform-origin: -1vw 13vh;
  box-shadow: -38vmin 0 4.903243285825303vmin currentColor;
}
.all-book span:nth-child(5) {
  color: #34303b;
  top: 98%;
  left: 93%;
  animation-duration: 21s;
  animation-delay: -24s;
  transform-origin: -15vw 3vh;
  box-shadow: 38vmin 0 5.200752666487695vmin currentColor;
}
.all-book span:nth-child(6) {
  color: #34303b;
  top: 78%;
  left: 57%;
  animation-duration: 40s;
  animation-delay: -10s;
  transform-origin: 11vw -24vh;
  box-shadow: -38vmin 0 5.102655647382579vmin currentColor;
}
.all-book span:nth-child(7) {
  color: #34303b;
  top: 56%;
  left: 20%;
  animation-duration: 45s;
  animation-delay: -11s;
  transform-origin: 12vw 13vh;
  box-shadow: -38vmin 0 5.04419834613042vmin currentColor;
}
.all-book span:nth-child(8) {
  color: #34303b;
  top: 6%;
  left: 26%;
  animation-duration: 30s;
  animation-delay: -34s;
  transform-origin: 12vw -11vh;
  box-shadow: -38vmin 0 4.993150326570786vmin currentColor;
}
.all-book span:nth-child(9) {
  color: #34303b;
  top: 32%;
  left: 28%;
  animation-duration: 66s;
  animation-delay: -51s;
  transform-origin: -9vw -5vh;
  box-shadow: 38vmin 0 4.890205324160713vmin currentColor;
}
.all-book span:nth-child(10) {
  color: #504b49;
  top: 72%;
  left: 93%;
  animation-duration: 25s;
  animation-delay: -70s;
  transform-origin: -20vw 2vh;
  box-shadow: 38vmin 0 4.765115771812503vmin currentColor;
}
.all-book span:nth-child(11) {
  color: #504b49;
  top: 29%;
  left: 26%;
  animation-duration: 54s;
  animation-delay: -55s;
  transform-origin: 17vw -18vh;
  box-shadow: -38vmin 0 5.743045459680787vmin currentColor;
}
.all-book span:nth-child(12) {
  color: #504b49;
  top: 72%;
  left: 18%;
  animation-duration: 14s;
  animation-delay: -65s;
  transform-origin: 5vw -11vh;
  box-shadow: 38vmin 0 4.973673950066886vmin currentColor;
}
.all-book span:nth-child(13) {
  color: #34303b;
  top: 65%;
  left: 48%;
  animation-duration: 51s;
  animation-delay: -67s;
  transform-origin: 19vw -22vh;
  box-shadow: 38vmin 0 5.665324045814836vmin currentColor;
}
.all-book span:nth-child(14) {
  color: #504b49;
  top: 2%;
  left: 21%;
  animation-duration: 16s;
  animation-delay: -8s;
  transform-origin: -9vw 21vh;
  box-shadow: -38vmin 0 5.546307695519161vmin currentColor;
}
.all-book span:nth-child(15) {
  color: #504b49;
  top: 9%;
  left: 90%;
  animation-duration: 66s;
  animation-delay: -66s;
  transform-origin: -11vw -11vh;
  box-shadow: 38vmin 0 5.392837779046078vmin currentColor;
}
.all-book span:nth-child(16) {
  color: #504b49;
  top: 61%;
  left: 56%;
  animation-duration: 27s;
  animation-delay: -64s;
  transform-origin: -8vw 23vh;
  box-shadow: -38vmin 0 5.035298552654672vmin currentColor;
}
.all-book span:nth-child(17) {
  color: #504b49;
  top: 44%;
  left: 55%;
  animation-duration: 24s;
  animation-delay: -28s;
  transform-origin: -3vw 10vh;
  box-shadow: -38vmin 0 5.547494499186107vmin currentColor;
}
.all-book span:nth-child(18) {
  color: #34303b;
  top: 84%;
  left: 89%;
  animation-duration: 47s;
  animation-delay: -26s;
  transform-origin: 3vw 6vh;
  box-shadow: 38vmin 0 5.255832725534465vmin currentColor;
}
.all-book span:nth-child(19) {
  color: #504b49;
  top: 66%;
  left: 20%;
  animation-duration: 32s;
  animation-delay: -68s;
  transform-origin: 3vw -3vh;
  box-shadow: 38vmin 0 5.156251488083715vmin currentColor;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 275px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book:hover {
  transform: rotateY(0deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 275px;
  height: 400px;
  transform: translateZ(32.5px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: " ";
  background-color: blue;
  left: 0;
  top: 3px;
  width: 63px;
  height: 394px;
  transform: translateX(239.5px) rotateY(90deg);
  background: linear-gradient(
    90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
  );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 275px;
  height: 400px;
  transform: translateZ(-32.5px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
}

.sideBar-height {
  height: calc(100vh - 93.5px);
}

/* ----- */
.stf__block {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

.right {
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.8);
  padding: 20px;
  background-color: #e9e3e3;
  color: hsl(35, 35, 35);
  border: solid 1px hsl(35, 20, 70);
  overflow: hidden;
}

.left {
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.8);
  padding: 20px;
  background-color: #e9e3e3;
  color: hsl(35, 35, 35);
  border: solid 1px hsl(35, 20, 70);
  overflow: hidden;
}

/* text animaton */
.animation {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 200px;
}
.animation text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(187, 171, 25);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
        stroke: rgb(187, 171, 25);;
  }
  80% {
    fill: rgba(72, 138, 20, 0);
        stroke: rgb(187, 171, 25);;
    stroke-width: 3;
  }
  100% {
    fill: rgb(187, 171, 25);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

#cursor-dot,
#cursor-dot-outline {
  z-index: 999;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

#cursor-dot {
  width: 22px;
  height: 22px;
  background-color: rgba(220, 90, 90, 1);
}

#cursor-dot-outline {
  width: 20px;
  height: 20px;
  background-color: rgba(220, 90, 90, 0.3);
}

@media screen and (max-width: 1000px) {
  .stf__block {
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.8);
  }

  .book {
    width: 190px;
    height: 270px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
  }

  .book:hover {
    transform: rotateY(0deg);
  }

  .book > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 190px;
    height: 270px;
    transform: translateZ(20px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
    box-shadow: 5px 5px 20px #666;
  }

  .book::before {
    position: absolute;
    content: " ";
    background-color: blue;
    left: 0;
    top: 3px;
    width: 38px;
    height: 264px;
    transform: translateX(167px) rotateY(90deg);
    background: linear-gradient(
      90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%
    );
  }

  .book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 190px;
    height: 270px;
    transform: translateZ(-20px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
  }
}

@media screen and (max-width: 450px) {
  .stf__parent {
    min-width: 350px !important;
    height: 100px !important;
  }

  .stf__block {
    width: 100% !important;
  }

  .right,
  .left {
    top: -80px !important;
    right: 0 !important;
    left: 0 !important;
    width: 100% !important;
  }

  .book {
    width: 125px;
    height: 175px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-30deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
  }

  .book:hover {
    transform: rotateY(0deg);
  }

  .book > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 125px;
    height: 175px;
    transform: translateZ(15px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
    box-shadow: 5px 5px 20px #666;
  }

  .book::before {
    position: absolute;
    content: " ";
    background-color: blue;
    left: 0;
    top: 3px;
    width: 28px;
    height: 169px;
    transform: translateX(107px) rotateY(90deg);
    background: linear-gradient(
      90deg,
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%
    );
  }

  .book::after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    width: 125px;
    height: 175px;
    transform: translateZ(-15px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
  }
}
